<li id="comment-<%= comment.id%>">
    <% if(locals.user && locals.user.id == comment.user.id) {%>
    <br>
    <a id="<%= comment.id%>" href="comments/destroy/<%= comment.id%>" class="delete-comment">X</a>
    <%}%>
    <p>
        <%= comment.content%>
    </p>
    <small> <%= comment.user.name %></small>
    <% if(locals.user){%>
        <small><a class='like-button' data-likes= '<%= comment.likes.length %>' href="/likes/toggle/?id=<%=comment.id%>&type=comments"><%= comment.likes.length %> Likes</a></small>
<%} else {%>
       <small> <%= comment.likes.length %> Likes </small>
  <%}%>
</li>