<li id="post_<%= post._id%>">  
    <% if(locals.user && locals.user.id == post.user.id){%>
          <small>
                <a class='delete-post-button' id="<%= post.id %>" href="posts/destroy/<%= post.id %>">X</a>
          </small>
    <%}%>      
    <p>
          <%= post.content %>
          <br>
          <small>
                <%= post.user.name%>
          </small>
    </p>
    <% if(locals.user){%>
            <small><a class='like-button' data-likes= '<%= post.likes.length %>' href="/likes/toggle/?id=<%=post.id%>&type=posts"><%= post.likes.length %> Likes</a></small>
    <%} else {%>
           <small> <%= post.likes.length %> Likes </small>
      <%}%>
    <div class="post-comments">
          <% if(locals.user) {%>
                
                <form class='post-comment-form' action="/comments/create" method="POST">
                <input type="text" name="content" placeholder="Add a comment" required>
                <input type="hidden" name="post" value="<%= post._id%>">
                <input type="submit" value="Add"> 
                </form>                
          <%}%>
          
          <div class="post-comments-list">
                <ul id="post-comments-<%= post._id%>">
                      <% for(comment of post.comment){%>
                           <%- include('_comment') -%> 
                      <% }%>
                </ul>
          </div>      
    </div> 
</li>